doctype html
html
  head
    title Devam Dance Academy
    block scripts
    block style
      
      
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/logo.png")
                | DDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/contact") Contact Us]

    block content
  
          
     