extends base.pug

block scripts
    scripts(src='/static/index.js')

block style
    style
      include ../static/style.css

block content    
    section#introSection
        div Welcome to Devam's Dance Acadmy
        div.small Eat Sleep Dance Repeat

    section#missionSection
       h2 Our Missions
            cards.section
       div.card
            h3 Dance Perfection
            div.card-box
                div.card-img
                    img(src="/static/1.png")

                div.card-content
                    p this the best website in universe 
                       
       div.card
            h3 Dance the way you like
            div.card-box
                div.card-img
                    img(src="/static/2.png")

                div.card-content
                    p this the best website in universe
       div.card
            h3 Expert  
            div.card-box
                div.card-img
                    img(src="/static/3.png")

                div.card-content
                    p this the best website in universe       
    section#sponserSection
        h2 Our Sponsers
        div#sponsors
            img(src="/static/logo1.png", alt= "Sponsor image",class ="spimage")
            img(src="/static/logo2.png", alt= "Sponsor image",class ="spimage")
            img(src="/static/logo3.png", alt= "Sponsor image",class ="spimage")
            img(src="/static/logo4.png", alt= "Sponsor image",class ="spimage")
            
    footer#footer
        | Copyright © 2020-21 DevamDanceAcademy.com | All rights  Reserved